<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzh.checkUpService.generator.TCheckListMapper">
  <resultMap id="BaseResultMap" type="com.lzh.checkUpService.generator.TCheckList">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="check_list_name" jdbcType="VARCHAR" property="checkListName" />
    <result column="check_list_code" jdbcType="VARCHAR" property="checkListCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, check_list_name, check_list_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_check_list
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_check_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lzh.checkUpService.generator.TCheckList">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_check_list (id, check_list_name, check_list_code
      )
    values (#{id,jdbcType=BIGINT}, #{checkListName,jdbcType=VARCHAR}, #{checkListCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lzh.checkUpService.generator.TCheckList">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_check_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="checkListName != null">
        check_list_name,
      </if>
      <if test="checkListCode != null">
        check_list_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=BIGINT},
      <if test="checkListName != null">
        #{checkListName,jdbcType=VARCHAR},
      </if>
      <if test="checkListCode != null">
        #{checkListCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lzh.checkUpService.generator.TCheckList">
    update t_check_list
    <set>
      <if test="checkListName != null">
        check_list_name = #{checkListName,jdbcType=VARCHAR},
      </if>
      <if test="checkListCode != null">
        check_list_code = #{checkListCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lzh.checkUpService.generator.TCheckList">
    update t_check_list
    set check_list_name = #{checkListName,jdbcType=VARCHAR},
      check_list_code = #{checkListCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>